/**
  * Who's That Tweet CSS
  * @author: Rocco Augusto
  * @file: css/style.css
**/

/*** RESET ***/
html, body, header, section, div, p, ul, li, h2 {
	margin:0;
	padding:0;
}

ul, li {
	list-style:none;
}

/*** GLOBAL CSS ***/
html, body {
	width:100%;
	height:600px;
	overflow-x:hidden;
}

body {
	font-size:14px;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	background:#993366;
}

h2 {
	font-size:18px;
	color:#fff;
	text-shadow:1px 1px 5px rgba(0,0,0,0.9);
}

/*** SECTION ***/
section {
	margin:20px 10px;
	padding:10px;
}

section ul {
	width:100%;
	margin:25px 0;
}

section li {
	margin:10px 0;
	padding:10px 5px 10px;
	min-height:22px;
	line-height:32px;
	border-bottom:1px solid #666;
	border-radius:7px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#a1a1a1), to(#A1A1A1), color-stop(.6,#8A8A8A));
	-webkit- box-shadow:0 0 20px rgba(0,0,0,0.5);
	box-shadow:2px 2px 10px rgba(0,0,0,0.8);
	
}

section li.fail {
	background:#990000;
	color:#fff;
}

section li.win {
	background:#009900;
	color:#fff;
}

section li.fail, section li.win {
	border-bottom:1px solid #fff;
}

section blockquote { 
	margin:0;
	padding:0;
}
section blockquote:before {
	content: "\201c\ ";
	font-size:26px;
	float:left;
	margin-right:5px;
	padding-left:5px;
}

section blockquote:after {
	content: "\201e\ ";
	font-size:26px;
	margin-left:5px;
	padding-left:5px;
}