<style type="text/css">
@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'), url('droidsans.woff') format('woff');
}

body { 
    font-family:'Droid Sans', Arial, Helvetica, sans-serif; 
}
</style>